.nav-item
{
    margin-left: 10px;
    

}

.nav-item1
{
  float:right;
  margin-left: 700px;

}
.centered {
  position: absolute;
  bottom: 30%;
  left: 40%;
  transform: translate(-40%, -10%);
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  
  
}

.h1
{
  font-size: 60px;
  font-style: oblique;
}
.container
{
  position: relative;
}
.h2
{
  font-size: 50px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  
}

/* body {
  margin: 0;
  padding: 0;
  background-color: rgb(35, 136, 35);
  height: 100vh;
} */
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}


.header{
  position: relative;
  transition: all 0.4s ease-in-out 0s;

}
.card
 {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

    
    
}
.h4
{
font-size: 60px;
color: rgb(239, 240, 241);
font-family: serif;
}
a:link, a:visited {
  
  color: black;
  
  
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  
}